:root{
    --vermelhosangue: rgb(143, 28, 28);
    --creme:rgb(209, 186, 122);
}

body{
    background-color: black;
    font-family: 'Montagu Slab', serif;
    font-family: 'Montserrat', sans-serif;
}

.cabecalhoPrincipal{
    padding: 20px 0;
}

img {
    width: 300px;
    text-align: left;
}

.botoes1{
    margin-right: 60px;
}

.botoes2{
    padding: 10px;
}

/*Conteúdo Principal*/

h1{
    color: var(--vermelhosangue);
    font-size: 35px;
}

h2{
    color: var(--vermelhosangue);
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}   

/*Link para navegação*/
nav a{
    color: var(--vermelhosangue);
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

 nav a:hover{
    color: var(--creme);
}

.Title2{
    text-align: center;
    color: var(--vermelhosangue);
    font-weight: bold;
    font-size: 30px;
}
h2{
    color: var(--vermelhosangue);
    text-align: left;
    font-size: 20px;
}


.categorias{
    width: 940px;
    margin: auto;
    padding: 50px 0;
}

.categorias li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin-bottom: 15px;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid var(--vermelhosangue); 
    border-radius: 10px;
}
.categorias li:hover{
    border-color: var(--creme);
}
.categorias li:active{
    border-color: var(--creme);
}

.categorias li:hover h5{
    font-size: 50px;
}

.categorias h2{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}


.mapa{
    padding: 5em 0;
    text-align: center; 
}

.TituloMapa{
    display: block;
    color: var(--vermelhosangue);
    font-size: 35px;
    font-weight: bold;
    margin: 5rem 0;
}

.especificacao{
    color: var(--vermelhosangue);
    font-size: 15px;
    padding-top: 05px;
    
}

/*Rodapé da Página*/

.RodapePrincipal{
    padding-top: 20px;
}


.ContatoGalloGym{
    display: inline;
    margin: 0;
    color: var(--vermelhosangue);
    font-size: 15px;
    font-weight: bold;
    line-height: 1;
    text-decoration: none;
} 


h3{
    color: var(--vermelhosangue);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    margin-left: 10px;
}

h4{
    color: var(--vermelhosangue);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    margin-left: 10px;
}
footer p{
    color: var(--vermelhosangue);
    font-size: 15px;
    margin: 5px;
    padding: 5px;
 }
 .RodapePrincipal{
    margin: -6rem 0;
}
