body{
    background-color: #1d1c14;
    font-family: 'Familjen Grotesk', sans-serif;
    font-family: 'Montagu Slab', serif;
    font-family: 'Montserrat', sans-serif;
}

#LogoModa{
width: 250px;
margin: 15px 15px;
}

.botoesModa{
    color:#d4b87c;
}
nav{
    position: absolute;
    top: 130px;
    right: 100px;
}

nav a{
    text-transform: uppercase;
    font-weight:bold;
    font-size: 20px;
    color: #d4b87c;
    text-decoration:none;
}

nav li{
    display:inline-block;
    padding: 5px;
    margin: 15px 10px;
}

nav a:hover{
   color: rgb(143, 28, 28);
}
.Title1{
    text-align:center;
    font-weight:bold;
    color:#d4b87c;
    font-size:35px;
}
#generos1{
    width: 940px;
    margin: 250px -10px;
    padding: 50px 0;
}
#generos1 li{
    display: inline-block;
    text-align: center;
    width: 25%;
    vertical-align: top;
    margin-bottom: 15px;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #d4b87c;
    border-radius: 10px;
    font-size:20px;
    text-decoration:none;
}
#generos1 li:hover{
    color: rgb(143, 28, 28);
}
#generos1 li:active{
    border-color: rgb(143, 28, 28);
}
#ContatoModa{
    color:#d4b87c;
    margin: 290px 0px 10px;
    padding: 15px 15px;
}
.TitleFoot{
    color:#d4b87c;
    font-size:20px;
    font-weight: bold;
    margin: 10px 0px;
}

@media screen and (max-width: 480px){
    body{
        background: #1d1c14;
    }
}