
.botoes__Navegacao{
    margin-right: 5%;
}
.cabecalho__principal--nav nav{
    margin-right: 30px;
}

.botoes__Navegacao nav a{
    color: var(--branco);
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    padding: 2rem 1.5rem;
}

.botoes__Navegacao a:hover{
    color: var(--vermelhosangue);
}


.cabecalho__principal--nav{
    display: flex;
}

.cabecalhoprincipal--link{
    align-items: initial;
    padding: 10px;
}

@media screen and (min-width: 428px) {
    .botoes__Navegacao{
        flex-direction: column;
        text-align: center;
        margin: 15px 0px;
    }

}

 
