:root{
    --vermelhosangue: rgb(143, 28, 28);
    --creme:rgb(209, 186, 122);
    --preto: black;
}

.cabecalho__principal{
    background-color:var(--preto);
}

/*Estilização Css*/

#LogoGym {
    width: 300px;
    text-align: left;
}

.botoes__Navegacao nav a{
    color: var(--vermelhosangue);
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
}

.botoes__Navegacao a:hover{
    color: var(--creme);
}

.cabecalho__principal__nav nav{
    margin-right: 60px;
}

/*Flexbox*/

.cabecalho__principal .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalho__principal__nav{
    display: flex;
}

.cabecalhoprincipal__link{
    align-items: initial;
    padding: 10px;
}

