:root{
    --vermelhosangue: rgb(143, 28, 28);
    --creme:rgb(209, 186, 122);
}
.mapa__titulo{
    text-align: center;
    color: var(--vermelhosangue);
    font-size: 35px;
    font-weight: bold;
    margin: 5rem 0;
}


