
:root{
    --vermelhosangue: rgb(143, 28, 28);
    --creme:rgb(209, 186, 122);
}
.banner__titulo{
    align-items: center;
    color: var(--vermelhosangue);
    margin: 60px 0px;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}

