@import url(../Assets/css/cabecalho/botoesNavegacao/botoesNavegacao.css);
@import url(../Assets/css/cabecalho/Logo/Logo.css);

:root{
    --vermelhosangue: rgb(143, 28, 28);
    --creme:rgb(209, 186, 122);
}

.cabecalho{
    align-items: center;
    display: flex;
    margin-bottom: -2.5rem;
    font-family: 'Familjen Grotesk', sans-serif;
    font-family: 'Montagu Slab', serif;
    font-family: 'Montserrat', sans-serif;
    justify-content: space-between;
}



@media screen and (min-width: 640px) {
    .cabecalho{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
}

@media screen and (min-width: 962px) {
    .cabecalho{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
}

@media screen and (min-width: 1440px){
    .cabecalho{
        display: flex;
        flex-direction: row;
    }

    
}