@import url(../Assets/css/cabecalho/botoesNavegacao/botoesNavegacao.css);
@import url(../Assets/css/cabecalho/Logo/Logo.css);

:root{
    --vermelhosangue: rgb(143, 28, 28);
    --creme:rgb(209, 186, 122);
}

.cabecalho{
    align-items: center;
    display: flex;
    margin: 1rem 2rem;
    font-family: 'Familjen Grotesk', sans-serif;
    font-family: 'Montagu Slab', serif;
    font-family: 'Montserrat', sans-serif;
    justify-content: space-between;
    padding: 2.5rem 2.5rem;
}


/* 
@media screen and (min-width: 428px) {
    .cabecalho{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
}

@media screen and (min-width: 1024px) {
    .cabecalho{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
}

@media screen and (min-width: 1728px){
    .cabecalho{
        display: flex;
        flex-direction: row;
    }

    
}  */