@import url(../Assets/css/botoesNavegacao/botoesNavegacao.css);

@import url(../Assets/css/Logo/Logo.css);

:root{
    --vermelhosangue: rgb(143, 28, 28);
    --creme:rgb(209, 186, 122);
}

.cabecalho .container{
    align-items: center;
    display: flex;
    font-family: 'Familjen Grotesk', sans-serif;
    font-family: 'Montagu Slab', serif;
    font-family: 'Montserrat', sans-serif;
    justify-content: space-between;
}



