@import url(../Assets/css/banner/banner.css);
@import url(../Assets/css/banner/banner-titulo.css);
@import url(../Assets/css/banner/banner-imagem.css);
@import url(../Assets/css/elementos/elementos.css);
@import url(../Assets/css/elementos/elementos-categorias.css);
@import url(../Assets/css/elementos/elementos-especificacao.css);
@import url(../Assets/css/elementos/elementos-title.css);
@import url(../Assets/css/videoAcademia/videoAcademia.css);
@import url(../Assets/css/videoAcademia/videoAcademia-video.css);
@import url(../Assets/css/videoAcademia/videoAcademia-conteudo.css);
@import url(../Assets/css/videoAcademia/videoAcademia-titulo.css);
@import url(../Assets/css/videoAcademia/videoAcademia-subtitulo.css);

:root{
    --vermelhosangue: rgb(143, 28, 28);
    --creme:rgb(209, 186, 122);
}

.conteudo{
    font-family: 'Noto Sans KR', sans-serif;
}