@import url(./cabecalho.css);
@import url(./conteudo.css);
@import url(./rodape.css);

:root{
    --vermelhosangue: rgb(143, 28, 28);
    --creme:rgb(209, 186, 122);
    --branco: rgb(255, 255, 255);
    --cinza: rgb(197, 197, 197);
}


html, body{
    margin: 0;
}

.siteConteudo{
    background-image: linear-gradient(black, #3d3d3d, #918f8f);
    display: grid;
    font-family: 'Familjen Grotesk', sans-serif;
    font-family: 'Montagu Slab', serif;
    font-family: 'Montserrat', sans-serif;
    grid-template-areas: "cabecalho__principal" "conteudo" "rodape";
    grid-template-columns: auto;
    grid-template-rows: 450px 100vh auto;
}

.cabecalho{
    grid-area: cabecalho__principal;
}

.conteudo{
    grid-area: conteudo;
}

.rodape{
    grid-area: rodape;
}








