@import url(./cabecalho.css);
@import url(./conteudo.css);
@import url(./rodape.css);

.siteConteudo{
    background-color: black;
    display: grid;
    font-family: 'Familjen Grotesk', sans-serif;
    font-family: 'Montagu Slab', serif;
    font-family: 'Montserrat', sans-serif;
    grid-template-areas: "cabecalho__principal" "conteudo" "rodape";
    grid-template-columns: auto;
    grid-template-rows: 300px 100vh auto;
}

.cabecalho__principal{
    grid-area: cabecalho__principal;
}

.conteudo{
    grid-area: conteudo;
}

.rodape{
    grid-area: rodape;
    margin-top: 120%;
}








