@import url(./cabecalho.css);
@import url(./conteudo.css);
@import url(./rodape.css);

html, body{
    margin: 0;
}

.siteConteudo{
    background-color: #1D232A;
    display: grid;
    font-family: 'Familjen Grotesk', sans-serif;
    font-family: 'Montagu Slab', serif;
    font-family: 'Montserrat', sans-serif;
    grid-template-areas: "cabecalho__principal" "conteudo" "rodape";
    grid-template-columns: auto;
    grid-template-rows: 450px 100vh auto;
}

.cabecalho{
    grid-area: cabecalho__principal;
}

.conteudo{
    grid-area: conteudo;
}

.rodape{
    grid-area: rodape;
}








