@import url(../Assets/css/mapa/mapa.css);
@import url(../Assets/css/mapa/mapa-titulo.css);
@import url(../Assets/css/contato/contato-gallo.css);
@import url(../Assets/css/contato/contato-gallo1.css);
@import url(../Assets/css/contato/contato-titulo.css);
@import url(../Assets/css/contato/contato-informacoes.css);
@import url(../Assets/css/horario/horario-titulo.css);
@import url(../Assets/css/horario/horario-div2.css);

.rodape{
    margin-top: 70%; 
}

 /*Flexbox*/
 

.TitleContato, .Horarios{
    display: flex;
}
.Contato, .Horario{
    height: 20px;
}
#imgFace, #imgInsta, #imgWhats{
    padding: 20px 15px;
    width: 60px;
}
