@import url(../Assets/css/mapa/mapa.css);
@import url(../Assets/css/mapa/mapa-titulo.css);
@import url(../Assets/css/contato/contato-gallo.css);
@import url(../Assets/css/contato/contato-gallo1.css);
@import url(../Assets/css/contato/contato-titulo.css);
@import url(../Assets/css/contato/contato-informacoes.css);
@import url(../Assets/css/horario/horario-titulo.css);
@import url(../Assets/css/horario/horario-div.css);
@import url(../Assets/css/horario/horario-div2.css);
@import url(../Assets/css/MidiasSociais/midia-titulo.css);


:root{
    --vermelhosangue: rgb(143, 28, 28);
    --creme:rgb(209, 186, 122);
}

.rodape{
    margin-top: 5%; 
    font-family: 'Familjen Grotesk', sans-serif;
    font-family: 'Montagu Slab', serif;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}

.contato__titulo, .Horario__titulos{
    display: flex;
}
.Contato, .Horario{
    height: 20px;
}
#imgFace, #imgInsta, #imgWhats{
    padding: 20px 15px;
    width: 60px;
}
