@import url(../Assets/css/rodape/contato/contato-gallo.css);
@import url(../Assets/css/rodape/contato/contato-gallo1.css);
@import url(../Assets/css/rodape/contato/contato-titulo.css);
@import url(../Assets/css/rodape/contato/contato-informacoes.css);
@import url(../Assets/css/rodape/horario/horario-titulo.css);
@import url(../Assets/css/rodape/horario/horario-div.css);
@import url(../Assets/css/rodape/horario/horario-div2.css);
@import url(../Assets/css/rodape/MidiasSociais/midia-titulo.css);


:root{
    --vermelhosangue: rgb(143, 28, 28);
    --creme:rgb(209, 186, 122);
}

.rodape{
    font-family: 'Familjen Grotesk', sans-serif;
    font-family: 'Montagu Slab', serif;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    margin-top: 120%;
    position: static;
}


.contatoGalloGym{
    width: 100vw;
}
.contato__titulo, .Horario__titulos{
    display: flex;
}
.Contato, .Horario{
    height: 20px;
}

#imgFace, #imgInsta, #imgWhats{
    padding: 20px 15px;
    width: 60px;
}
