@import url(./Assets/Css/botoesModa/botoes-nav.css);
@import url(./Assets/Css/botoesModa/botoes-link.css);

:root{
    --creme:#d4b87c;
    --vermelhosangue: rgb(143, 28, 28);
    --preto: #1d1c14;
}

/*Estilização Css*/

#LogoModa{
    width: 250px;
    margin: 15px 15px;
}

/*Flexbox*/

.cabecalhoMF {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


