:root{
    --creme:#d4b87c;
    --vermelhosangue: rgb(143, 28, 28);
    --preto: #1d1c14;
}
body{
    background-color: var(--preto);
    font-family: 'Familjen Grotesk', sans-serif;
    font-family: 'Montagu Slab', serif;
    font-family: 'Montserrat', sans-serif;
}

#ContatoModa{
    color: var(--creme);
    margin: 290px 0px 10px;
    padding: 15px 15px;
}
.TitleFoot{
    color: var(--creme);
    font-size:20px;
    font-weight: bold;
    margin: 10px 0px;
}

@media screen and (max-width: 480px){
    body{
        background: var(--preto);
    }
}