:root{
    --vermelhosangue: rgb(143, 28, 28);
    --creme:rgb(209, 186, 122);
}
.banner__titulo{
    color: var(--vermelhosangue);
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 5rem;
    font-weight: bold;
    position: absolute;
    left: 50%;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.75);
    top: 50%;
    text-align: center;
    transform: translate(-50%, -60%);
    width: 100%;
}

