.rodape{
    margin-top: 0; 
    background-color: black;
}

.ContatoGalloGym{
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: 25% 25% 25% 25%;
    padding: 30px 15px;
}

.ContatoGalloGym{
    margin: 0;
    color: var(--vermelhosangue);
    font-size: 15px;
    font-weight: bold;
    line-height: 1;
} 


.titleContato{
    color: var(--vermelhosangue);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    margin-left: 10px;
}

.Horario2{
    color: var(--vermelhosangue);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 15px;
    margin-left: 10px;
}
footer p{
    color: var(--vermelhosangue);
    font-size: 15px;
    margin: 5px;
    padding: 5px;
 }

 /*Flexbox*/
 .TituloMapa{
    align-items: center;
}

.ContatoDiv .HorariosDiv{
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
    
}

.TitleContato, .Horarios{
    display: flex;
}
.Contato, .Horario{
    height: 20px;
}
#imgFace, #imgInsta, #imgWhats{
    padding: 20px 15px;
    width: 60px;
}