.categorias__gallo{
    border: 3px solid var(--vermelhosangue);
    border-radius: 15px;
    box-sizing: border-box;
    display: inline-block;
    padding: 30px 5px;
    text-align: center;
    width: 75%;
}

.categorias__gallo:last-child{
    grid-column: 2 / 2;
    grid-row: 4 / 4;
}

.categorias__gallo:hover { 
    border-color: var(--creme);
    color: var(--creme); 
    transition: 0.20s;
}

.categorias__gallo{
  margin: 20px 30px;
}
.categorias_gallo:last-child{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
