:root{
    --vermelhosangue:rgb(143, 28, 28);
    --creme:rgb(209, 186, 122);
    --branco:rgb(255,255,255);
}

body{
    background-color: black;
    font-family: 'Montagu Slab', serif;
    font-family: 'Montserrat', sans-serif;
}
.cabecalhoPrincipal{
    padding: 20px 0;
}

img {
    width: 300px;
    text-align: left;
}

.botoes2{
    padding: 10px;
}

nav a{
    text-transform: uppercase;
    text-decoration: none;
    color: var(--vermelhosangue);
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px;
    
}

.TitleMain{
    text-transform: uppercase;
    text-align: center;
    color: var(--vermelhosangue);
    font-size: 30px;
    margin: auto;
    font-weight: bold;
}


nav a:hover{
    color: var(--creme);
}


main{
    width: 940px;
    margin: 0 auto;
}
.Formulario{
    display: inline-block;
    color: var(--vermelhosangue);
}

footer p{
    margin-top: 15px;
    color: var(--vermelhosangue);
    font-size: 15px;    
    
 }

h4
.Contato li{
    margin: 10px;
    padding: 0;
}


h5{
    color:var(--vermelhosangue);
    font-size: 15px;
}
form{
    margin: 30px 0;
    font-weight: bold;
}

form p{
    color: var(--vermelhosangue);
    font-size: 20px;
    font-weight: bold;
    margin: 15px 0px;
    text-transform: uppercase;
}

.input-padrao, .outraAtividade{
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin: 15px -10px;
    padding: 5px 10px;
    text-transform: uppercase;
}


.Modalidade{
    display: block;
    margin: 10px -30px;
    padding: 20px 40px;
}

 
.checkbox{
    display: block;
    margin: 15px 0 20px;
    color: rgb(143, 28, 28);
}
Legend.pOptions, h3{
    color: rgb(143, 28, 28);
    font-size: 20px;
    font-weight: bold;
    margin-top: auto;
    margin: 20px 10px;


}
.enviar{
    width: 20%;
    padding: 10px 0px;
    background-color: var(--branco);
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}
.enviar:hover{
    background-color: var(--vermelhosangue);
    transform: scale(1.2);
}
table{
    margin: 30px 50px;
    color: var(--vermelhosangue);
    position: absolute;
    top: 850px;
    right:250px
}
thead{
    text-transform: uppercase;
    font-weight: bold;
}
td{
    border: 1px solid var(--vermelhosangue);
    padding: 15px 8px;
}

@media screen and (max-width: 480px){
    body{
        background: black;
    }
}